/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
	display: inline-block;
	position: relative;
	font-family:$button-text;
	text-decoration: none;
	color: $white;
	font-size:1em;
	line-height:2.4em;
	height:2.4em;
	text-transform:uppercase;
	font-weight: normal;
	padding: 0 24px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	@include transition(background-color 0.35s ease-in-out);

	// hovering on the btn
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	} // end hover

	// clicking on the button
	&:active {
		top: 1px; // adds a tiny hop to the click
	} // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.btn {
	@extend %btn;
}
.btn-yellow {
	@extend %btn;
	background-color:$yellow;
	color:$text-color;

	&:hover,
	&:focus {
		background-color: darken($yellow, 10%);
	}
}
.btn-orange {
	@extend %btn;
	background-color:$orange;

	&:hover,
	&:focus {
		background-color: darken($orange, 10%);
	}
}
.btn-blue {
	@extend %btn; // here we load the btn defaults
	background-color: $blue;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($blue, 10%);
	}

}
.btn-search {
	height:40px;
	text-indent:-9999px;
	position:relative;
	&:before, &:after {
		content:'';
		display:block;
		color:$white;
	}
	&:before {
		height:12px;
		width:12px;
		border:3px solid $white;
		@include border-radius(50%);
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-7px, -12px));
	}
	&:after {
		width:3px;
		height:10px;
		background:$white;
		position:absolute;
		left:50%;
		top:50%;
		@include transform(rotate(45deg) translate(-5px, 8px));
	}
}